.modalBackdrop {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: var(--secondary-background);
    padding: 20px;
    border-radius: 8px;
    width: 600px;
}

.serverList {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 15px;
}

.serverItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.joinButton {
    background-color: var(--primary-color);
    color: var(--button-text);
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.joinedButton {
    background-color: var(--secondary-background);
    color: var(--text-color);
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: not-allowed;
}

.joinCodeSection {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.joinCodeInput {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background-color: var(--input-background);
    color: var(--text-color);
}

.closeButton {
    margin-top: 15px;
    background-color: var(--secondary-background);
    color: var(--text-color);
    padding: 8px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}
