.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
}

.mainContent {
    border-top: 1px solid var(--border-color);
    display: flex;
    height: calc(100% - 80px);
    margin-top: 80px;
    width: 100vw;
}
