.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color); /* Dark background */
    background-image: url("../../assets/background.png");
    background-size: cover;
    padding: 5% 6%;
}