:root {
    --primary-color: #00c885;       /* Green color for buttons and highlights */
    --background-color: #131313;    /* Dark background */
    --secondary-background: #1E1E1E;/* background for containers */
    --lighter-grey: #353535;        /* for some buttons directly against the dark background color*/
    --text-color: #E0E0E0;          /* text against the background and buttons */
    --input-background: #131313;    /* Dark grey background for input fields */
    --input-text-color: #5A5A5A;    /* Light gray for input text */
    --border-color: #565656; /* borders for containers and inputs*/
    --label-color: #878787; /*subheaders and some labels*/
    --button-text: #ffffff;         /* for use with green buttons */
    --button-hover: #00965a;        /* Slightly darker green for hover state */
    --error-color: red;
}
