.chatContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-background);
    padding: 20px 0 20px 20px;
    border-left: 1px solid var(--border-color);
}

.messageArea {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 20px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.sentMessage, .receivedMessage {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    position: relative;
}

.messageProfilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.sentMessage p, .receivedMessage p {
    background-color: var(--lighter-grey);
    padding: 10px;
    border-radius: 15px;
    max-width: 60%;
    word-wrap: break-word;
}

.sentMessage p {
    background-color: var(--primary-color);
    color: var(--button-text);
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.receivedMessage p {
    background-color: var(--lighter-grey);
    color: var(--text-color);
    cursor: pointer;
}

.sentMessage .timestamp {
    display: none; /* Hide by default */
    position: absolute;
    right: 10px;
    bottom: -10px;
    font-size: 0.8em;
    color: gray;
}

.receivedMessage .timestamp {
    display: none; /* Hide by default */
    position: absolute;
    left: 10px;
    bottom: -10px;
    font-size: 0.8em;
    color: gray;
}

.sentMessage p:hover .timestamp, .receivedMessage p:hover .timestamp {
    display: block; /* Show on hover */
}

.sentMessage p:hover, .receivedMessage p:hover{
    margin-bottom: 10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    background-color: var(--secondary-background);
    margin: 0 80px 0 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.messageInput {
    flex-grow: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--secondary-background);
    color: var(--text-color);
    outline: none !important;
}

.sendButton {
    background-color: var(--primary-color);
    color: var(--button-text);
    padding: 8px;
    margin-right: 8px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: var(--button-hover);
}
