.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: var(--secondary-background);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.channelList, .toggleContainer {
    margin-top: 10px;
}

.channelItem {
    display: flex;
    align-items: center;
}

.channelItem input {
    flex-grow: 1;
    margin-right: 10px;
}
