.pageContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    background-color: #111;
    margin-top: 80px;
    margin-left: 80px;
}

.mainContent {
    display: flex;
    flex: 1;
}

.mainColumn {
    justify-content: start;
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
}

/* Sidebar */
.sidebar {
    width: 80px; /* Set the width for the sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
}
