.incomingRequestsPage {
    padding: 20px;
}

.requestsSection {
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 165px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px;
}

.requestsSection .requestCard {
    margin-bottom: 15px;
}
