.pageContainer {
    padding: 40px 60px;
    height: calc(100vh - 80px);
    background-color: var(--background-color);
    background-image: url("../../assets/background.png");
    background-size: cover;
    color: var(--text-color);
}

.pageTitle {
    text-align: left;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between grid items */
}

.section {
    background-color: var(--secondary-background);
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color);
}

.section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
